@import './Mixins';
@import './Variables';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;

  &__score {
    @include respond(big-desktop) {
      margin: 10px auto;
      color: $btnColor;
      text-align: center
    }

    @include respond(tab-land) {
      margin: 5px auto;
      text-align: center;
      color: $btnColor;
    }

    @include respond(tab-port) {
      margin: 5px auto;
      text-align: center;
      color: $btnColor;
    }

    @include respond(phone) {
      margin: 5px auto;
      text-align: center;
      color: $btnColor;
      font-size: 1rem;
    }
  }
}